<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mi_bms.mapper.RuleMapper">
  <resultMap id="BaseResultMap" type="org.example.mi_bms.entity.Rule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="warn_id" jdbcType="INTEGER" property="warnId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="battery_type" jdbcType="INTEGER" property="batteryType" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="delete" jdbcType="INTEGER" property="delete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.example.mi_bms.entity.Rule">
    insert into rule (id, warn_id, `name`, 
      battery_type, detail, create_time, 
      update_time, `delete`)
    values (#{id,jdbcType=INTEGER}, #{warnId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{batteryType,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{delete,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.example.mi_bms.entity.Rule">
    update rule
    set warn_id = #{warnId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      battery_type = #{batteryType,jdbcType=INTEGER},
      detail = #{detail,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      `delete` = #{delete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, warn_id, `name`, battery_type, detail, create_time, update_time, `delete`
    from rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, warn_id, `name`, battery_type, detail, create_time, update_time, `delete`
    from rule
  </select>
  <select id="selectByBatteryTypeAndWarnId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, warn_id, `name`, battery_type, detail, create_time, update_time, `delete`
    from rule
    <where>
        <if test="batteryType!= null and batteryType != 0">
            battery_type = #{batteryType,jdbcType=INTEGER}
        </if>
        <if test="warnId != null and warnId != 0">
            and warn_id = #{warnId,jdbcType=INTEGER}
        </if>
    </where>
  </select>
</mapper>